.jumbo-h1{
    font-weight: bold;
    color: white;
}

.jumbo-p{
    color: white;
}

.center {
    margin: auto;
    width: 70%;
    padding: 50px;
  }

body {
    background-image: url("whitecity.jpg");
    background-color: #cccccc;
}